<main class="main-content">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="centered-text">
    <p>
      ゲーム好きの皆さん、ようこそゲーマーコミュニティへ！</br>
      ここはゲームの世界に没頭し、楽しい冒険を共有できる場所です。</br>
      新しい友達と協力してダンジョンを攻略し、最高のプレイヤーに挑戦しましょう。</br>
      自分のプレイスタイルを共有し、新たな戦友を見つけましょう。</br>
      このコミュニティは、あなたのゲーム体験をさらに楽しいものにするための場所です。</br>
      新しい友達や仲間と繋がり、共に冒険しましょう。</br>
      ゲームの世界への情熱を共有し、最高のプレイヤーになるための一歩を踏み出しましょう。</br>
      さあ、キーボードとコントローラーを握り、新しい冒険の扉を開けましょう。</br>
      ゲーマーコミュニティへの参加を楽しんでください！
    </p>
  </div>
</main>
