.footer {
  background-color: #333; /* フッターの背景色 */
  color: #fff; /* フッターのテキスト色 */
  padding: 10px 0; /* フッターの内側の余白 */
  position: fixed; /* フッターを固定位置に配置 */
  bottom: 0; /* 画面下部に配置 */
  width: 100%; /* フッターの幅を100%に設定 */
}